<div class="content" *ngIf="user$ | async as userData">
  <div class="flex-container">
    <div class="flex-child">
      <img class="image" [src]="userData.avatar_url" [alt]="userData.login" width="200" height="200">
    </div>

    <div class="flex-child">
      <p><strong>login:</strong> {{userData.login}}</p>
      <p><strong>repositories:</strong> {{userData.public_repos}}</p>
      <p><strong>followers:</strong> {{userData.followers}} </p>
    </div>
  </div>

  <div class="row">
    <h2>{{userData.login}}'s repositories:</h2>
    <div *ngIf="repositories$ | async as repositoriesData">
      <div *ngFor="let repository of repositoriesData" style="margin-bottom: 5px">
        <a [href]="repository.html_url" target="_blank"> {{repository.name}} </a>
      </div>
    </div>
    <mat-paginator
      [length]="userData.public_repos"
      [pageSize]="pageSizeRepositories"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="onPageChangeRepositories($event)">
    </mat-paginator>
  </div>

  <div class="row">
    <h2>{{userData.login}}'s followers:</h2>
    <div *ngIf="followers$ | async as followersData">
      <div *ngFor="let follower of followersData" style="margin-bottom: 5px">
        <img class="image" [src]="follower.avatar_url" [alt]="follower.login" height="50" width="50"
             style="margin-right: 20px">
        <a [routerLink]="['/users', follower.login]">{{follower.login}}</a>
        <hr>
      </div>
    </div>
    <mat-paginator
      [length]="userData.followers"
      [pageSize]="pageSizeFollowers"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="onPageChangeFollowers($event)">
    </mat-paginator>
  </div>
</div>
