<div class="content">

  <h2>List of Git users</h2>

  <mat-form-field>
    <mat-label>Sort By:</mat-label>
    <mat-select [(value)]="sortBy" (selectionChange)="sortedSearchUsers()">
      <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
        {{ sortOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Direction:</mat-label>
    <mat-select [(value)]="direction" (selectionChange)="sortedSearchUsers()">
      <mat-option *ngFor="let directionOption of directionOptions" [value]="directionOption.value">
        {{ directionOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: inline">
    <label for="location" style="margin-right: 5px;">Location:</label>
    <input type="text" id="location" name="location" [(ngModel)]="searchQuery" (ngModelChange)="searchUsersByLocation()"><br><br>
  </div>

  <div *ngIf="usersSearchResult$ as users">

    <div class="alert alert-info" role="alert" *ngIf="users.total_count == 0">
      No git users available!
    </div>

    <div class="card-container">
      <div class="card" *ngFor="let user of users.items" [routerLink]="['/users', user.login]">
        <div class="flex-container">

          <div class="flex-child magenta">
            <img class="image" [src]="user.avatar_url" [alt]="user.login" width="100" height="100">
          </div>

          <div class="flex-child green">
            <p><strong>login:</strong> {{user.login}}</p>
            <p><strong>repos:</strong> {{user.public_repos}}</p>
            <p><strong>followers:</strong> {{user.followers}}</p>
          </div>

        </div>
      </div>
      <mat-paginator
              [length]="totalCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 20, 30]"
              (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>

